.carousel-container {
    position: relative;
    width: 65%; 
    height: 30vh; 
    margin: 30px 90px ;
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(3.30, 1); 
    transform-origin: center; 
}

.carousel-slide {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: 0.5s ease;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}