.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 40px;
    background-color: #2C2C2C;
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-logo img {
    height: 50px;
    width: auto;
    margin-right: 10px; 
}

.navbar-links {
    display: flex;
    gap: 30px; 
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #FFD700;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #444444;
    border-radius: 25px;
    padding: 8px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    width: 200px;
}

.search-bar button {
    background-color: #FFD700;
    border: none;
    color: #2C2C2C;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #FFC107;
}

.carousel-section {
    width: 100%;
    height: 60vh;
    margin-top: 10px;
    position: relative;
}

.product-section {
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    display: flex;
    justify-content: left;
}
.product-section, .sec1{
    margin-top: 50px;
    width: 100%;
    gap:10px;
    padding: 20px;
}
.about-section {
    background-color: #2C2C2C;
    color: #ffffff; 
    padding: 50px 20px;
    text-align: center;
    border-top: 2px solid #333;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #FFD700; 
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #ffffff;
}

.footer {
    background-color: #2C2C2C;
    color: #ffffff;
    padding: 20px 10px;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #444;
}

.footer a {
    color: #FFD700; 
    text-decoration: none;
    font-weight: bold;
    margin: 0;
}

.footer a:hover {
    text-decoration: underline;
}

